*.lc
*.obj
*.pdb
*.idb
.delete.me
XTAGS
*~

usr/
site-lisp/
src/d/
src/r/
etc/DOC
src/char-width.h
src/chtab.cc
src/dpp.exe
src/dumpver.cc
src/fns-decl.h
src/gen-char-width.exe
src/gen-ctab.exe
src/gen-ibmext.exe
src/gen-iso2022state.exe
src/gen-jisx0212-hash.exe
src/gen-ktab.exe
src/gen-msg.exe
src/gen-syms.exe
src/gen-utf2sjis.exe
src/gen-vinf.exe
src/ibmext.h
src/iso2022state.h
src/jisx0212-hash.h
src/kanjitab.h
src/libxpi.lib
src/msgcode.h
src/msgdef.cc
src/num-arith.h
src/symtable.cc
src/utf2sjis.h
src/vars-decl.h
src/verinfo.h
src/xyzzycli.RES
src/xyzzycli.exe
src/xyzzyenv.RES
src/xyzzyenv.exe
xyzzy.map
xyzzy.wxp
xyzzy.exe
xyzzycli.exe
xyzzyenv.exe
