*.lc
*.obj
*.pdb
*.idb
.delete.me
XTAGS
*~

usr/
site-lisp/
src/d/
src/r/
etc/DOC
src/char-width.h
src/chtab.cc
src/dpp.exe
src/dumpver.cc
src/fns-decl.h
src/gen-char-width.exe
src/gen-ctab.exe
src/gen-ibmext.exe
src/gen-iso2022state.exe
src/gen-jisx0212-hash.exe
src/gen-ktab.exe
src/gen-msg.exe
src/gen-syms.exe
src/gen-utf2sjis.exe
src/gen-vinf.exe
src/ibmext.h
src/iso2022state.h
src/jisx0212-hash.h
src/kanjitab.h
src/libxpi.lib
src/msgcode.h
src/msgdef.cc
src/num-arith.h
src/symtable.cc
src/utf2sjis.h
src/vars-decl.h
src/verinfo.h
src/xyzzycli.RES
src/xyzzycli.exe
src/xyzzyenv.RES
src/xyzzyenv.exe
xyzzy.map
xyzzy.wxp
xyzzy.exe
xyzzycli.exe
xyzzyenv.exe

src/unicode/8859-1.TXT
src/unicode/8859-10.TXT
src/unicode/8859-11.TXT
src/unicode/8859-13.TXT
src/unicode/8859-14.TXT
src/unicode/8859-15.TXT
src/unicode/8859-16.TXT
src/unicode/8859-2.TXT
src/unicode/8859-3.TXT
src/unicode/8859-4.TXT
src/unicode/8859-5.TXT
src/unicode/8859-6.TXT
src/unicode/8859-7.TXT
src/unicode/8859-8.TXT
src/unicode/8859-9.TXT
src/unicode/BIG5.TXT
src/unicode/CNS11643.TXT
src/unicode/CP1250.TXT
src/unicode/CP1251.TXT
src/unicode/CP1252.TXT
src/unicode/CP1253.TXT
src/unicode/CP1254.TXT
src/unicode/CP1255.TXT
src/unicode/CP1256.TXT
src/unicode/CP1257.TXT
src/unicode/CP1258.TXT
src/unicode/CP874.TXT
src/unicode/CP932.TXT
src/unicode/CP936.TXT
src/unicode/CP949.TXT
src/unicode/CP950.TXT
src/unicode/GB2312.TXT
src/unicode/JIS0212.TXT
src/unicode/KSC5601.TXT
